################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IEEE-PES-191106.aux
/IEEE-PES-191106.log
/IEEE-PES-191106.synctex.gz
/IEEE-PES-191106.bcf
/IEEE-PES-191106.bbl
/IEEE-PES-191106.blg
/IEEE-PES-191106.run.xml
/IEEE-PES-191106.out
